* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.9);
	color: #999;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}

img {
	width: 100%;
}


.showcase {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('background.jpg') no-repeat center center/cover;
  position: relative;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-content {
  position: relative;
  display: flex;
  z-index: 2;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 12rem;
  width: 65%;
}

.showcase-content h1{
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-top: 1rem;
  color: #fff;
}
.showcase-content p{
  text-transform: uppercase;
  margin-top: 1rem;
  color: #fff;
}
.showcase-content img {
  width:150px;
  border-radius: 75px;
  margin-bottom: 1rem;
  box-shadow: inset 100px 100px 100px #000000;
  opacity: 0.9;
}

.container{
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}
.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3,1fr);
}
.grid-3 h3{
  margin: 1rem 0;
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
}

.grid-2 h3{
  color: black;
  margin: 1rem 0;
}
.grid-2 p{
  color: black;
  line-height: 1.4;
}


.center {
  text-align: center;
  margin: auto;
}

.bg-light{
  background-color: #f4f4f4;
  color: #333333;
}

.bg-dark{
  background-color: #333;
  color: #f4f4f4;
}

footer {
  padding: 2.2rem;
}
footer p{
  margin: 0;
}

@media (max-width: 500px) {
  .showcase {
    height: 50vh;
  }
  .showcase-content {
    padding-top: 2rem;

  }
  .showcase-content img{
    margin-top: 2rem ;
    width: 130px;
  }
  .showcase-content p{
    display: none;
  }
  .showcase-content h1{
    font-size: 1.7rem;
  }
  .grid-3, .grid-2{
  grid-template-columns: 1fr;
  }
  .services div{
    border-bottom: #333 dashed 1px ;
    padding: 1.2rem 1rem;
  }
}

@media (max-height: 500px) {
 .showcase-content p, .showcase-content h1 {
  display: none;
 } 
 .showcase-content {
  padding: 4rem;
 }
 .showcase-content img{
  margin-top: 2.2rem;
 }
 .container{
  width: 100%;
  margin-left: auto;
 }
 .grid-2,.grid-3{
  grid-template-columns:1fr 1fr ;
  gap: 2rem;
  align-items: center;
  justify-content: center;
 }
}